body {
    background-color: #121212;
    color: #f2f2f2;
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

h1 {
    width: fit-content;
    font-size: 2.25em;
}

/* form */
.bopLink {
    width: 45%;
    height: 60px;
    position: relative;
}

.bopLink input {
    border: none;
    border-radius: 40px;
    outline: none;
    padding: 15px 20px;
    height: 30px;
    width: 100%;
    background-color: #1f1f1f;
    color: #f2f2f2;
    font-size: 1.2em;
}

.bopLink ::placeholder {
    color: #f2f2f2;
    opacity: 55%;
}

.bopLink button {
    border: none;
    border-radius: 30px;
    height: 75%;
    width: 100px;
    background-color: #10B049;
    color: #f2f2f2;
    font-size: 1.2em;

    position: absolute;
    transform: translatex(32%);
    right: 0;
    top: 13%;
}

.bopLink button:hover {
    background-color: #176633;
}