<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bop Dropper</title>
    <style>body {background-color: #121212;}</style>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bop-styles.css')}}">
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</head>
<body>
    <div class="background"></div>
    
    <div class="home">
        <h1><a href="http://127.0.0.1:5000/">Bop Dropper</a></h1>
        
        <div class="bopLink">
            <form method="POST">
                <input type="text" name="bop_link" size="70" placeholder="https://open.spotify.com/track/...">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <script>
        setupInputTruncation()
    </script>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% else %}
        <!-- <p></p> -->
    {% endif %}
</body>
</html>